* {
  box-sizing: border-box;
}

:root {
  --primary-clr: #2d313c;
  --accent-clr: #ffbe00;
  --dark-clr: #110c11;
  --white-clr: #ffffff;
  --grey-clr: #a0a0a0;
  --normal-fs: 1.2rem;
  --big-fs: 2rem;
  --small-fs: 0.9rem;
  /* --bs-primary: to change bootstrap  color*/
  /* primary rgba(45,49,60,1), dark rgba(17,12,17,1) 50%, accent rgba(255,190,0,1)  */
  --linear-gradient: 90deg, #2d313c 0%, #110c11 50%, #ffbe00 50%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.site-container {
  min-height: 100vh;
}

header {
  background: var(--primary-clr);
  background: linear-gradient(var(--linear-gradient));
  padding: 1rem;
}

main {
  flex: 1;
}

.btn-primary,
.btn-outline-primary {
  background-color: var(--accent-clr);
  color: var(--dark-clr);
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.rating span {
  color: var(--accent-clr);
  /* color: #ffc000; */
}

.product {
  margin: 1rem;
  border: 1px #404040 solid;
}

.product img {
  width: 100%;
  max-width: 400px;
}
.product-info {
  padding: 1rem;
}

.img-large {
  max-width: 100%;
}
.cart-icon {
  font-size: var(--big-fs);
  color: var(--primary-clr);
}
.cart-icon:hover {
  color: var(--dark-clr);
}
.cart-icon span {
  right: 10px;
  top: -20px;
  position: relative;
}
.img-thumbnail {
  height: 80px;
}

.danger.btn-primary {
  background-color: #dc3545;
}

.small-container {
  max-width: 600px;
}
.checkout-steps > div {
  border-bottom: 0.2rem solid var(--grey-clr);
  color: var(--grey-clr);
}
.checkout-steps > div.active {
  border-bottom: 0.2rem solid var(--accent-clr);
  color: var(--accent-clr);
}
.table tr:nth-child(even) {
  background-color: rgba(143, 133, 103, 0.116);
}
tbody tr {
  vertical-align: middle;
}
thead tr {
  vertical-align: bottom;
}

/* make media for table to be responsive */
@media (max-width: 500px) {
}

/* sidebar */
.navbar-brand {
  font-weight: bold;
}
.side-navbar {
  width: 240px;
  height: 100%;
  position: absolute;
  left: -300px;
  background-color: #2d313c;
  transition: 0.5s;
}
.site-container {
  transition: 0.4s;
}
.active-cont {
  margin-left: 240px;
}
.active-nav {
  left: 0;
}
#basic-nav-dropdown {
  color: var(--primary-clr);
}
